{% set mainTitleText = dataUser[0]['MT'] %}
{% set submainTitleText = dataUser[0]['SMT'] %}
{% set MTR = dataUser[0]['MTR'] %}
{% set MTS = dataUser[0]['MTS'] %}
{% set FT = dataUser[0]['FT'] %}


{% set profilePicture = dataUser[0]['profilePicture'] %}
{% set userName = dataUser[0]['userName'] %}
{% set pagenumber = dataUser[0]['pagenumber'] %}
{% set iniitem = dataUser[0]['ini'] %}
{% set enditem = dataUser[0]['end'] %}
{% set numberMedia = dataUser[0]['numberMedia'] %}
{% set prevButton = dataUser[0]['prev'] %}
{% set nextButton = dataUser[0]['next'] %}
{% set moreButton = dataUser[0]['more'] %}
{% set ibi = dataUser[0]['ibi'] %}
{% set at = dataUser[0]['at'] %}
{% set urlGet = dataUser[0]['urlGet'] %}

<script>
    // Global variables

    // URL to load instagram reference
    var urlInstagram="";

    //Modal opened
    var modalOpened=0;

    //Video Opened
    var videoOpened=0;

    // Image URL
    var imageURL="";

    // UserName
    var userName="";

    // Place
    var placeName="";

    // TAGs in Post
    var tagsInPost="";

    // Number Of Likes
    var numberOfLikes="";

    // Instagram Post URL
    var instagramPostURL="";

    // Instagram account
    var instagramAccount="";

    //Last Seen Detail
    var lastSeen = 0;

    //number of Media
    var numberMedia = 0;

    var videoURL="";

    var videow="";

    var videoh="";

    var stylevideo="";

    var styleimage="";

    var stylecarou="";

    var carInitial = 0;

    var carFinal = 0;

    // Get the modal

    var listModelInst4Ceres =["spancarfeed4prev","anccarfeed4prev","imgcarfeed4next","idcarfeed4next","spancarfeed4next","anccarfeed4next","a_imgInstagramVideo","idovervideo","idcontainer-bottom", "a_imageGrid", "i_likes","idfigcapion","ButtonActivator","imgsmall-inst4ceres","left-data-inst4ceres","imgbig-inst4ceres","imgrightsmall-inst4ceres","right-data-inst4ceres","imgsmallright-inst4ceres","hrone","right-databis-inst4ceres","right-tags-inst4ceres","hrtwo","right-datalikes-inst4ceres","cont-inst4ceres01","cont-inst4ceres02","cont-inst4ceres03","cont-inst4ceres04","cont-inst4ceres05","cont-inst4ceres06","cont-inst4ceres07","cont-inst4ceres08","cont-inst4ceres09","cont-inst4ceres10","cont-inst4ceres11","componentOne","componentTwo","right-inst4ceres","span_numberOfLikes","i_likesOne","i_likesTwo","div_instagramText","idouter","div_container","idmainimg","idoverlay","span_brandlink","i_likesPC1","i_likesPC2","i_nextPC3","i_prevPC2","i_likesPC3","i_likesPC4","span_pags","imgInsta","a_imgInstagram","imgbig-inst4ceres","vidInsta","feed4ceres-videopar","feed4ceres-videosrc"];

    var listClassesInModal = ["vjs-big-play-button"];

    // When the user clicks anywhere outside of the modal, close it. (In USE)

    window.ontouchend = function(event) {
        //console.log("window.onclick mobile...");
        var modal = document.getElementById('ModalInst4Ceres');

        //console.log("mobile event.target.id: "+event.target.id);

        //console.log("mobile event.target.class: "+event.target.class);

        //console.log("mobile event.target.nodeName: "+event.target.nodeName);

        //console.log("mobile event.target.tagName: "+event.target.tagName);

        var target = event.target;
        var parent = target.parentElement;//parent of "target"

        //console.log("mobile event.target.parent.id: "+parent.id);
        //console.log("mobile event.target.parent.class: "+parent.class);
        //console.log("mobile event.target.parent.nodeName: "+parent.nodeName);
        //console.log("mobile event.target.parent.tagName: "+parent.tagName);

        var parent1 = parent.parentElement;//parent1 of "parent"

        //console.log("mobile event.target.parent1.id: "+parent1.id);
        //console.log("mobile event.target.parent1.class: "+parent1.class);
        //console.log("mobile event.target.parent1.nodeName: "+parent1.nodeName);
        //console.log("mobile event.target.parent1.tagName: "+parent1.tagName);

        var parent2 = parent1.parentElement;//parent2 of "parent1"

        //console.log("mobile event.target.parent2.id: "+parent2.id);
        //console.log("mobile event.target.parent2.class: "+parent2.class);
        //console.log("mobile event.target.parent2.nodeName: "+parent2.nodeName);
        //console.log("mobile event.target.parent2.tagName: "+parent2.tagName);

        if(modalOpened == 1) {
            if (listModelInst4Ceres.indexOf(event.target.id) <= -1 && listModelInst4Ceres.indexOf(parent1.id) <= -1 && listModelInst4Ceres.indexOf(parent2.id) <= -1) {

                //console.log("mobile Noning...");
                modal.style.display = "none";
                modalOpened = 0;

                // Added by Paq
                document.body.style.overflow = "auto";

                if(videoOpened==1) {

                    let playerFeed4Ceres = videojs('feed4ceres-videopar');

                    playerFeed4Ceres.pause();
                    videoOpened=0;
                }
            }else if(parent.id == 'feed4ceres-videopar' || (parent.tagName == 'BUTTON' && parent1.id=='feed4ceres-videopar') || (parent.tagName == 'BUTTON' && parent2.id == 'feed4ceres-videopar')){
                //console.log("mobile Clicking on Play Video and Set videOpened=1");

            }else if(event.target.id == 'feed4ceres-videopar_html5_api' && videoOpened==0){

                let playerFeed4Ceres = videojs('feed4ceres-videopar');

                playerFeed4Ceres.play();
                videoOpened=1;
            }
        }
    }


    window.onclick = function(event) {
        //console.log("window.onclick...");
        var modal = document.getElementById('ModalInst4Ceres');

        //console.log("event.target.id: "+event.target.id);

        //console.log("event.target.class: "+event.target.class);

        //console.log("event.target.nodeName: "+event.target.nodeName);

        //console.log("event.target.tagName: "+event.target.tagName);

        var target = event.target;
        var parent = target.parentElement;//parent of "target"

        //console.log("event.target.parent.id: "+parent.id);
        //console.log("event.target.parent.class: "+parent.class);
        //console.log("event.target.parent.nodeName: "+parent.nodeName);
        //console.log("event.target.parent.tagName: "+parent.tagName);

        var parent1 = parent.parentElement;//parent1 of "parent"

        //console.log("event.target.parent1.id: "+parent1.id);
        //console.log("event.target.parent1.class: "+parent1.class);
        //console.log("event.target.parent1.nodeName: "+parent1.nodeName);
        //console.log("event.target.parent1.tagName: "+parent1.tagName);

        var parent2 = parent1.parentElement;//parent2 of "parent1"

        //console.log("event.target.parent2.id: "+parent2.id);
        //console.log("event.target.parent2.class: "+parent2.class);
        //console.log("event.target.parent2.nodeName: "+parent2.nodeName);
        //console.log("event.target.parent2.tagName: "+parent2.tagName);

        if(modalOpened == 1) {
            if (listModelInst4Ceres.indexOf(event.target.id) <= -1 && listModelInst4Ceres.indexOf(parent1.id) <= -1 && listModelInst4Ceres.indexOf(parent2.id) <= -1) {

                //console.log("Noning...");
                modal.style.display = "none";
                modalOpened = 0;

                // Added by Paq
                document.body.style.overflow = "auto";

                if(videoOpened==1) {

                    let playerFeed4Ceres = videojs('feed4ceres-videopar');

                    playerFeed4Ceres.pause();
                    videoOpened=0;
                }
            }else if(parent.id == 'feed4ceres-videopar' || (parent.tagName == 'BUTTON' && parent1.id=='feed4ceres-videopar') || (parent.tagName == 'BUTTON' && parent2.id == 'feed4ceres-videopar')){
                //console.log("Clicking on Play Video and Set videOpened=1");
                videoOpened=1;
            }
        }
    }


    // Close Modal Window (In USE)
    function closeModal() {
        var modal = document.getElementById('ModalInst4Ceres');

        //console.log("Closing Modal...");
        modal.style.display = "none";
        modalOpened = 0;

        // Added by Paq
        document.body.style.overflow = "auto";

        if(videoOpened==1) {

            let playerFeed4Ceres = videojs('feed4ceres-videopar');

            playerFeed4Ceres.pause();
            videoOpened = 0;
        }

    }

    // Update internal variables to show next media loaded (In Use)
    function nextMedia(){
        var testMedia;
        var indxString;

        //let playerFeed4Ceres = videojs('feed4ceres-videopar');

        //playerFeed4Ceres.pause();

        //if(videoOpened==1) {

            //console.log("videoOpened and paused");

            let playerFeed4Ceres = videojs('feed4ceres-videopar');

            playerFeed4Ceres.pause();
            videoOpened=0;
        //}


        //console.log("Next, lastSeen: "+lastSeen);
        //console.log("Next, numberMedia: "+numberMedia);

        if(lastSeen<(numberMedia-1)){
            testMedia = lastSeen + 1;
            //nextmedia.style.visibility = "visible";
        }else{
            testMedia = numberMedia-1;
            //nextmedia.style.visibility = "hidden";
        }

        indxString = testMedia.toString();

        //console.log("Next Media: "+indxString);

        updateModalData(indxString);

    }

    // Update internal variables to show previous media loaded (In Use)
    function previousMedia(){

        var testMedia;
        var indxString;

        //let playerFeed4Ceres = videojs('feed4ceres-videopar');

        //playerFeed4Ceres.pause();


        //if(videoOpened==1) {

            //console.log("videoOpened and paused");

            let playerFeed4Ceres = videojs('feed4ceres-videopar');

            playerFeed4Ceres.pause();
            videoOpened=0;
        //}

        //console.log("Prev, lastSeen: "+lastSeen);
        //console.log("Prev, numberMedia: "+numberMedia);

        if(lastSeen>0){
            testMedia = lastSeen - 1;
            //prevmedia.style.visibility = "visible";
        }else{
            //prevmedia.style.visibility = "hidden";
            testMedia = 0;
        }

        indxString = testMedia.toString();

        //console.log("Previous Media: "+indxString);

        updateModalData(indxString);
    }

    // Count number of media loaded from backend (In USE)
    function getNumberOfMedia(){

        var testMedia;
        var testString;
        var iddata;
        var test;

        testMedia = 0;

        testString = testMedia.toString();

        iddata = 'data-'+testString;

        //console.log("Trying next Media: IdData: "+iddata);

        test = document.getElementById(iddata);

        numberMedia = 0;

        while(test !== null){
            numberMedia = numberMedia + 1;

            testString = numberMedia.toString();

            iddata = 'data-'+testString;

            //console.log("Trying next Media: IdData: "+iddata);

            test = document.getElementById(iddata);
        }

    }

    // Load variables on open modal to show them (In USE)
    function loadDataAndOpenModal(indx){
        var indxString;
        var iddata;

        getNumberOfMedia();

        indxString = indx.toString();


        iddata = 'data-'+indxString;

        //console.log("loading Data: IdData: "+iddata);

        lastSeen = indx;
        updateModalData(indxString);
        openModal();
    }

    // Open the Modal Window with updated variables (In USE)
    function openModal(){
        //alert("btn.onclick");
        var modal = document.getElementById('ModalInst4Ceres');
        //alert("Before: " + modal.style.display);
        //console.log("Before: " + modal.style.display);


        //alert("showing...");
        //console.log("showing...");
        modal.style.display = "block";
        modalOpened=1;
        //alert("After: " + modal.style.display);
        //console.log("After: " + modal.style.display);

        // Added by Paq

        document.body.style.overflow = "hidden";

    }

    // Update fields contain on modal with new values (In USE)
    function updateModalData(indx) {
        var iddata;
        var iddatacar;
        var imgcar;

        iddata = 'data-'+indx;
        lastSeen = parseInt(indx,10);

        var intimg = parseInt(indx);
        var elenext = document.getElementById("i_nextPC3");
        var eleprev = document.getElementById("i_prevPC2");

        if(intimg == 0){
            //console.log("prev-hidden");
            //console.log("vis value: "+eleprev.style.visibility+", changing... to hidden");
            eleprev.style.visibility="hidden";
            //console.log("vis value after hidden: "+eleprev.style.visibility);
            //feed4Ceres_hideprev();
            //alert("Hidden prev");
        }else{
            //console.log("prev-vis");
            eleprev.style.visibility="visible";
        }

        if(intimg == (numberMedia-1)){
            //console.log("next-hidden");
            //console.log("vis value: "+elenext.style.visibility+", changing... to hidden");
            elenext.style.visibility="hidden";
            //console.log("vis value after hidden: "+elenext.style.visibility);
            //feed4Ceres_hidenext();
            //alert("Hidden next");
        }else{
            //console.log("next-vis");
            elenext.style.visibility="visible";
        }


        //console.log("clickModal: Attending Click Event, IdData: "+iddata);


        a = document.getElementById(iddata).getAttribute('data-locname');
        b = document.getElementById(iddata).getAttribute('data-imgstd');
        c = document.getElementById(iddata).getAttribute('data-txtresume');
        d = document.getElementById(iddata).getAttribute('data-nolikes');
        e = document.getElementById(iddata).getAttribute('data-linkinsta');
        f = document.getElementById(iddata).getAttribute('data-username');
        g = document.getElementById(iddata).getAttribute('data-txtpost');
        h = document.getElementById(iddata).getAttribute('data-styledisplayvideo');
        i = document.getElementById(iddata).getAttribute('data-vidstd');
        j = document.getElementById(iddata).getAttribute('data-videow');
        k = document.getElementById(iddata).getAttribute('data-videoh');
        l = document.getElementById(iddata).getAttribute('data-styledisplayimg');
        m = document.getElementById(iddata).getAttribute('data-styledisplaycarou');
        n = document.getElementById(iddata).getAttribute('data-carInitial');
        o = document.getElementById(iddata).getAttribute('data-carFinal');


        //console.log("A: "+a);
        //console.log("B: "+b);
        //console.log("C: "+c);
        //console.log("D: "+d);
        //console.log("E: "+e);
        //console.log("F: "+f);
        //console.log("G: "+g);
        //console.log("H: "+h);
        //console.log("I: "+i);
        //console.log("J: "+j);
        //console.log("K: "+k);
        //console.log("M: "+m);
        //console.log("N: "+n);
        //console.log("O: "+o);


        placeName = a;
        imageURL = b;
        tagsInPost = c;
        numberOfLikes = d;
        instagramPostURL = e;
        instagramAccount = f;
        videoURL = i;
        videow = j;
        videoh = k;
        stylevideo = h;
        styleimage = l;
        stylecarou = m;
        carInitial = parseInt(n);
        carFinal = parseInt(o);

        let statusVideo=h;
        let statusCarou=m;

        var feedData = document.getElementById("span_locationName");
        feedData.innerHTML=placeName;

        feedData = document.getElementById("span_locationName2");
        feedData.innerHTML=placeName;

        feedData = document.getElementById("imgbig-inst4ceres");
        feedData.src = imageURL;

        feedData = document.getElementById("div_instagramText");
        feedData.innerHTML = tagsInPost;

        feedData = document.getElementById("span_numberOfLikes");
        feedData.innerHTML = numberOfLikes;

        feedData = document.getElementById("a_imguserone");
        feedData.href="https://www.instagram.com/"+instagramAccount;

        feedData = document.getElementById("a_imgusertwo");
        feedData.href="https://www.instagram.com/"+instagramAccount;

        feedData = document.getElementById("a_nameuserone");
        feedData.href="https://www.instagram.com/"+instagramAccount;

        feedData = document.getElementById("a_nameusertwo");
        feedData.href="https://www.instagram.com/"+instagramAccount;

        feedData = document.getElementById("a_imgInstagram");
        feedData.href=instagramPostURL;

        //feedData = document.getElementById("a_imgInstagramVideo");
        //feedData.href=instagramPostURL;

        urlInstagram = instagramPostURL;

        feedData = document.getElementById("imgInsta");
        feedData.style.display=styleimage;

        feedData = document.getElementById("vidInsta");
        feedData.style.display=stylevideo;

        feedData = document.getElementById("carouInsta");
        feedData.style.display=stylecarou;

        feedData = document.getElementById("feed4ceres-videopar");
        feedData.style.paddingTop = '100%';


        if(statusVideo == 'block') {

            let playerFeed4Ceres = videojs('feed4ceres-videopar');

            playerFeed4Ceres.src(videoURL);
            playerFeed4Ceres.poster(imageURL);
            playerFeed4Ceres.load();

            //console.log("On block video, imageURL: "+imageURL);
            //console.log("On block video, videoURL: "+videoURL);

            //videoOpened=1;
            //playerFeed4Ceres.width(videow+"px !important");
            //playerFeed4Ceres.height(videoh+"px !important");

        }else{
            if(statusCarou == 'block') {
                //Delete carousel images
                var cell = document.getElementById("insta4ceresCarouselItems");

                if ( cell.hasChildNodes() ){
                    while ( cell.childNodes.length >= 1 ){
                        cell.removeChild( cell.firstChild );
                    }
                }
                // Insert new images on carousel

                blockDivInsta4Ceres = document.getElementById("insta4ceresCarouselItems");


                for (var ix = carInitial; ix <= carFinal; ix++) {
                    iddatacar = 'datacarou-'+indx+'-'+ix+'-'+carInitial+'-'+carFinal;
                    //console.log('datacar: '+iddatacar);
                    imgcar = document.getElementById(iddatacar).getAttribute('data-refimg');

                    var blockDivCarou = document.createElement("div");
                    blockDivCarou.setAttribute("id", "idcarfeed4next");
                    if(ix == carInitial) {
                        blockDivCarou.setAttribute("class", "carousel-item active");
                    }else{
                        blockDivCarou.setAttribute("class", "carousel-item");
                    }
                    var imageCarou = document.createElement("img");
                    imageCarou.setAttribute("id", "imgcarfeed4next");
                    imageCarou.setAttribute("src", imgcar);
                    imageCarou.setAttribute("class", "d-block w-100");
                    imageCarou.setAttribute("alt", "Feed4Ceres Carousel Image");

                    blockDivCarou.append(imageCarou);

                    blockDivInsta4Ceres.append(blockDivCarou);

                }

            }
        }


    }

    // Process events from keyboard (In USE)
    document.body.addEventListener( "keydown", function( e ) {
        //alert("Registering");

        var code = e.keyCode;
        var evt = new Event( "click" );
        var elemp = document.getElementById("i_prevPC2");
        var elemn = document.getElementById("i_nextPC3");


        if(modalOpened == 1) {

            if (code == 37) {
                elemp.dispatchEvent(event);
                //console.log("Previous...");
            }
            if (code == 39) {
                elemn.dispatchEvent(event);
                //console.log("Next...");
            }

        }
    }, false);

    // Function for load next or previous page from backend (Currently not in USE)
    function loadNextContent(command){
        if(command == 'next') {
            $('#Feed4CeresWidget').load("./feed4ceres?pagenumber={{ pagenumber }}&command=n");
        }

        if(command == 'previous'){
            $('#Feed4CeresWidget').load("./feed4ceres?pagenumber={{ pagenumber }}&command=p");
        }
    }


</script>
