
{% set mainID = dataUser[0]['mainID'] %}
{% set userName = dataUser[0]['userName'] %}
{% set userID = dataUser[0]['userID'] %}
{% set fullName = dataUser[0]['fullName'] %}
{% set dataTest = dataUser[0]['dataTest'] %}

{% set locationName = 'Recovering' %}
{% set instagramPicture = 'Recovering' %}
{% set instagramText = 'Recovering' %}
{% set numberOfLikes = 'Recovering' %}

{% set instagramLink = 'Recovering' %}

{% set outerBorderWidthText = config("Feed4Ceres.outerBorderWidth.text") %}
{% set outerBorderColorText = config("Feed4Ceres.outerBorderColor.text") %}
{% set outerBorderTypeText = config("Feed4Ceres.outerBorderType.text") %}
{% set outerBorderRadiusText = config("Feed4Ceres.outerBorderRadius.text") %}
{% set outerPaddingText = config("Feed4Ceres.outerPadding.text") %}

{% set innerBorderWidthText = config("Feed4Ceres.innerBorderWidth.text") %}
{% set innerBorderColorText = config("Feed4Ceres.innerBorderColor.text") %}
{% set innerBorderTypeText = config("Feed4Ceres.innerBorderType.text") %}
{% set innerBorderRadiusText = config("Feed4Ceres.innerBorderRadius.text") %}
{% set innerPaddingText = config("Feed4Ceres.innerPadding.text") %}

{% set generalPaddingText = config("Feed4Ceres.generalPadding.text") %}
{% set overlayColorText = config("Feed4Ceres.overlayColor.text") %}
{% set overlayOpacityText = config("Feed4Ceres.overlayOpacity.text") %}

{% set numberOfColumnsXSSizeText = config("Feed4Ceres.numberOfColumnsXSSize.text") %}
{% set numberOfColumnsSMSizeText = config("Feed4Ceres.numberOfColumnsSMSize.text") %}
{% set numberOfColumnsMDSizeText = config("Feed4Ceres.numberOfColumnsMDSize.text") %}
{% set numberOfColumnsLGSizeText = config("Feed4Ceres.numberOfColumnsLGSize.text") %}
{% set numberOfColumnsXLSizeText = config("Feed4Ceres.numberOfColumnsXLSize.text") %}

{% set indexItems = 0 %}

<style type="text/css">

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }

    .vjs-has-started .vjs-control-bar{
        visibility: hidden;
    }

    .buttonnextprev {
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none; /* Standard syntax */
    }

    :focus {
        outline: none !important;
    }

    .closenav {
        font-size: 30px;
        text-align: right;
        top: -6px;
        right: 10px;
        position: absolute;
        z-index:1000;
        color:#000000;
    }

    .loader{
        margin: 2em 0 2em 0;
        height: 15%;
        width: 20%;
        text-align: center;
        padding: 1em;
        margin: 0 auto 1em;
        display: inline-block;
        vertical-align: top;
    }


    .divmorebutton {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .morebutton{
        background-color: #ffffff; /* Green */
        border: 1px dotted #000000;
        color: #000000;
        padding: 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 2px 6px;
        cursor: pointer;
        border-radius: 4px;
    }

    .ci_likesPC3{
        color: white;
        font-size: 5em !important;
        color:#050505;
        text-align:center;
        vertical-align: top;
        text-decoration:none;
        font-weight:bold;
        position: absolute;
        top: 45%;
        right: -10%;
        cursor: pointer;
        padding: 0%;
        visibility: visible;
    }

    .ci_likesPC3:hover {
        background: rgba(255,255,255,0.2);
    }

    .ci_likesPC2:hover {
        background: rgba(255,255,255,0.2);
    }

    .ca_brandlink{
        background:rgba(255,255,255,0);
        position: absolute;
        right:0%;
        bottom: -18px;
        text-align: right;
        font-size: 0.7em;
    }

    .ci_likesPC2{
        color: white;
        font-size: 5em !important;
        color:#050505;
        text-align:center;
        vertical-align: top;
        text-decoration:none;
        font-weight: bold;
        position: absolute;
        top: 45%;
        left: -10%;
        cursor: pointer;
        padding: 0%;
        visibility: visible;
    }

    .img-border {
        border: {{ innerBorderWidthText }} {{ innerBorderTypeText }} {{ innerBorderColorText }};
        border-radius: {{ innerBorderRadiusText }};
        padding: {{ innerPaddingText }};
    }

    .feed4ceres-overlay {
        position: absolute;
        bottom: 0%;
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: {{ overlayColorText }}; /* #f1f1f1; */
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 20px;
        padding-top: 50%;
        text-align: center;
    }

    .feed4ceres-overvideo {
        position: absolute;
        bottom: 0%;
        color: {{ overlayColorText }}; /* #f1f1f1; */
        width: 100%;
        height: 100%;
        transition: .5s ease;
        font-size: 40px;
        padding-top: 0%;
        padding-right: 3%;
        text-align: right;
    }


    #div_contmain:hover .feed4ceres-overlay {
        opacity: {{ overlayOpacityText }};
    }

    div.feed4ceres-outer {
        -webkit-border-radius: {{ outerBorderRadiusText }};
        -moz-border-radius: {{ outerBorderRadiusText }};
        border-radius: {{ outerBorderRadiusText }}; /* 5px; */
        border: {{ outerBorderWidthText }} {{ outerBorderTypeText }} {{ outerBorderColorText }}; /* 1px dotted red; */
        padding: {{ outerPaddingText }}; /* 5px; */
        margin: 0px; /* 5px; */
    }

    i.feed4ceres-nav {
        vertical-align: middle;
    }

    /* The Modal (background) */
    .modalinst4ceres {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 100; /* Sit on top */
        padding-top: 0; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
        z-index: 10000;

    }

    /* The Close Button */
    .closeinst4ceres {
        color: #aaaaaa;
        float: right;
        font-size: 14px;
        font-weight: bold;
    }

    .closeinst4ceres:hover,
    .closeinst4ceres:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .feed4ceres-box {
        display: flex;
        align-items:center;
    }

    .row.table-row > [class*="col-"].custom {
        background-color: white;
        text-align: left;
    }

    #container-inst4ceres{
        width:70% !important;
        position: fixed !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .multi-grid > * > .insta-image.widget-proportional {
        padding-bottom: 100%;
    }

    @media all and (max-width: 575px) and (orientation: portrait) {

        #div_instagramText {
            font-size: 0.9rem;
            text-align: left;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }

        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentOne {
            display:flex;
            align-items:center;
        }

        #componentTwo {
            display:none;
        }

        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        #cont-inst4ceres09{
            display: none;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        #right-datalikes-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }

    }

    @media all and (min-width: 310px) and (max-width: 323px) and (orientation: portrait) {
        .closenav {
            font-size: 30px;
            text-align: right;
            top: -6px;
            right: -17px;
            position: absolute;
            z-index:1000;
            color:#000000;
        }


    }

    @media all and (max-width: 575px) and (orientation: landscape) {

        #div_instagramText {
            font-size: 0.9rem;
            text-align: left;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }

        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }


        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        #cont-inst4ceres09{
            display: none;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        #right-datalikes-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row {
            display:table;
            width:100%;
        }

        .row.table-row > [class*="col-"] {
            float:none;
            float:none;
            display:table-cell;
            vertical-align:top;
        }

        .row.table-row > .col-xs-11 {
            width: 91.66666666666666%;
        }
        .row.table-row > .col-xs-10 {
            width: 83.33333333333334%;
        }
        .row.table-row > .col-xs-9 {
            width: 75%;
        }
        .row.table-row > .col-xs-8 {
            width: 66.66666666666666%;
        }
        .row.table-row > .col-xs-7 {
            width: 58.333333333333336%;
        }
        .row.table-row > .col-xs-6 {
            width: 50%;
        }
        .row.table-row > .col-xs-5 {
            width: 41.66666666666667%;
        }
        .row.table-row > .col-xs-4 {
            width: 33.33333333333333%;
        }
        .row.table-row > .col-xs-3 {
            width: 25%;
        }
        .row.table-row > .col-xs-2 {
            width: 16.666666666666664%;
        }
        .row.table-row > .col-xs-1 {
            width: 8.333333333333332%;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }

    }

    @media all and (min-width: 576px) and (max-width: 767px) and (orientation: portrait){

        #div_instagramText {
            font-size: 0.9rem;
            text-align: left;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }

        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }


        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        #cont-inst4ceres09{
            display: none;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        #right-datalikes-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }


    }

    @media all and (min-width: 576px) and (max-width: 767px) and (orientation: landscape){

        #div_instagramText {
            font-size: 0.9rem;
            text-align: left;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }

        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }

        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        #cont-inst4ceres09{
            display: none;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        #right-datalikes-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row {
            display:table;
            width:100%;
        }

        .row.table-row > [class*="col-"] {
            float:none;
            float:none;
            display:table-cell;
            vertical-align:top;
        }

        .row.table-row > .col-sm-11 {
            width: 91.66666666666666%;
        }
        .row.table-row > .col-sm-10 {
            width: 83.33333333333334%;
        }
        .row.table-row > .col-sm-9 {
            width: 75%;
        }
        .row.table-row > .col-sm-8 {
            width: 66.66666666666666%;
        }
        .row.table-row > .col-sm-7 {
            width: 58.333333333333336%;
        }
        .row.table-row > .col-sm-6 {
            width: 50%;
        }
        .row.table-row > .col-sm-5 {
            width: 41.66666666666667%;
        }
        .row.table-row > .col-sm-4 {
            width: 33.33333333333333%;
        }
        .row.table-row > .col-sm-3 {
            width: 25%;
        }
        .row.table-row > .col-sm-2 {
            width: 16.666666666666664%;
        }
        .row.table-row > .col-sm-1 {
            width: 8.333333333333332%;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }

    }

    @media all and (min-width: 768px) and (max-width: 991px){

        #div_instagramText {
            font-size: 0.9rem;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }

        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }

        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        .row.table-row {
            display:table;
            width:100%;
        }

        .row.table-row > [class*="col-"] {
            float:none;
            float:none;
            display:table-cell;
            vertical-align:top;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row > .col-md-11 {
            width: 91.66666666666666%;
        }
        .row.table-row > .col-md-10 {
            width: 83.33333333333334%;
        }
        .row.table-row > .col-md-9 {
            width: 75%;
        }
        .row.table-row > .col-md-8 {
            width: 66.66666666666666%;
        }
        .row.table-row > .col-md-7 {
            width: 58.333333333333336%;
        }
        .row.table-row > .col-md-6 {
            width: 50%;
        }
        .row.table-row > .col-md-5 {
            width: 41.66666666666667%;
        }
        .row.table-row > .col-md-4 {
            width: 33.33333333333333%;
        }
        .row.table-row > .col-md-3 {
            width: 25%;
        }
        .row.table-row > .col-md-2 {
            width: 16.666666666666664%;
        }
        .row.table-row > .col-md-1 {
            width: 8.333333333333332%;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }

    }

    @media all and (min-width: 992px) and (max-width: 1199px) {

        #div_instagramText {
            font-size: 0.9rem;
        }

        #i_likesOne {
            font-size: 1.2rem;
        }

        #span_numberOfLikes {
            font-size: 1.2rem;
        }


        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }

        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        .row.table-row {
            display:table;
            width:100%;
        }

        .row.table-row > [class*="col-"] {
            float:none;
            float:none;
            display:table-cell;
            vertical-align:top
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row > .col-lg-11 {
            width: 91.66666666666666%;
        }
        .row.table-row > .col-lg-10 {
            width: 83.33333333333334%;
        }
        .row.table-row > .col-lg-9 {
            width: 75%;
        }
        .row.table-row > .col-lg-8 {
            width: 66.66666666666666%;
        }
        .row.table-row > .col-lg-7 {
            width: 58.333333333333336%;
        }
        .row.table-row > .col-lg-6 {
            width: 50%;
        }
        .row.table-row > .col-lg-5 {
            width: 41.66666666666667%;
        }
        .row.table-row > .col-lg-4 {
            width: 33.33333333333333%;
        }
        .row.table-row > .col-lg-3 {
            width: 25%;
        }
        .row.table-row > .col-lg-2 {
            width: 16.666666666666664%;
        }
        .row.table-row > .col-lg-1 {
            width: 8.333333333333332%;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }


    }

    @media all and (min-width: 1200px) {


        #div_instagramText {
            font-size: 0.9rem;
        }

        #i_likesOne {
            font-size: 1.3rem;
        }

        #span_numberOfLikes {
            font-size: 1.3rem;
        }


        .modal-contentFeed4Ceres {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        #componentTwo {
            display:flex;
            align-items:center;
        }

        #componentOne {
            display:none;
        }

        #imgbig-inst4ceres.img-fluid {
            width:100%;
        }

        .row.table-row {
            display:table;
            width: 100%;
        }

        .row.table-row > [class*="col-"] {
            float:none;
            float:none;
            display:table-cell;
            vertical-align:top;
        }

        #right-tags-inst4ceres{
            font-size: 0.9em;
        }

        .row.table-row > .col-xl-11 {
            width: 91.66666666666666%;
        }
        .row.table-row > .col-xl-10 {
            width: 83.33333333333334%;
        }
        .row.table-row > .col-xl-9 {
            width: 75%;
        }
        .row.table-row > .col-xl-8 {
            width: 66.66666666666666%;
        }
        .row.table-row > .col-xl-7 {
            width: 58.333333333333336%;
        }
        .row.table-row > .col-xl-6 {
            width: 50%;
        }
        .row.table-row > .col-xl-5 {
            width: 41.66666666666667%;
        }
        .row.table-row > .col-xl-4 {
            width: 33.33333333333333%;
        }
        .row.table-row > .col-xl-3 {
            width: 25%;
        }
        .row.table-row > .col-xl-2 {
            width: 16.666666666666664%;
        }
        .row.table-row > .col-xl-1 {
            width: 8.333333333333332%;
        }

        .row.table-row > [class*="col-"] > #cont-inst4ceres11 {
            bottom: -11px;
        }

        .feed4ceres-overvideo {
            position: absolute;
            bottom: 0%;
            color: {{ overlayColorText }}; /* #f1f1f1; */
            width: 100%;
            height: 100%;
            transition: .5s ease;
            font-size: 20px;
            padding-top: 0%;
            padding-right: 3%;
            text-align: right;
        }

    }

    .modal-contentFeed4Ceres {
        background: rgba(255, 255, 255, 0.5) !important;
        width: 100vw;
        height: 100vh;
    }


</style>
