{% set numberOfColumnsXSSizeText = config("Feed4Ceres.numberOfColumnsXSSize.text") %}
{% set numberOfColumnsSMSizeText = config("Feed4Ceres.numberOfColumnsSMSize.text") %}
{% set numberOfColumnsMDSizeText = config("Feed4Ceres.numberOfColumnsMDSize.text") %}
{% set numberOfColumnsLGSizeText = config("Feed4Ceres.numberOfColumnsLGSize.text") %}
{% set numberOfColumnsXLSizeText = config("Feed4Ceres.numberOfColumnsXLSize.text") %}

{% set styleMoreButtonText = config("Feed4Ceres.styleMoreButton.text") %}
{% set moreButtonLabelText = config("Feed4Ceres.moreButtonLabel.text") %}

{% set numcolxs = (12 / numberOfColumnsXSSizeText|int)|int %}
{% set numcolsm = (12 / numberOfColumnsSMSizeText|int)|int %}
{% set numcolmd = (12 / numberOfColumnsMDSizeText|int)|int %}
{% set numcollg = (12 / numberOfColumnsLGSizeText|int)|int %}
{% set numcolxl = (12 / numberOfColumnsXLSizeText|int)|int %}


{% set mainTitleText = dataUser[0]['MT'] %}
{% set submainTitleText = dataUser[0]['SMT'] %}
{% set MTR = dataUser[0]['MTR'] %}
{% set MTS = dataUser[0]['MTS'] %}
{% set FT = dataUser[0]['FT'] %}


{% set profilePicture = dataUser[0]['profilePicture'] %}
{% set userName = dataUser[0]['userName'] %}
{% set pagenumber = dataUser[0]['pagenumber'] %}
{% set iniitem = dataUser[0]['ini'] %}
{% set enditem = dataUser[0]['end'] %}
{% set numberMedia = dataUser[0]['numberMedia'] %}
{% set prevButton = dataUser[0]['prev'] %}
{% set nextButton = dataUser[0]['next'] %}
{% set moreButton = dataUser[0]['more'] %}
{% set ibi = dataUser[0]['ibi'] %}
{% set at = dataUser[0]['at'] %}
{% set urlGet = dataUser[0]['urlGet'] %}

{% set showFeed4Ceres = instavalid %}

{% if showFeed4Ceres == 1 %}

    <div id="Feed4CeresWidget" class="widget">

        <!-- The Modal -->
        <div id="ModalInst4Ceres" class="modalinst4ceres" style="overflow: scroll;">

            <!-- Modal content -->
            <div class="modal-contentFeed4Ceres">


                <span class="closeinst4ceres"></span>

                <div id="containermod" class="container" style="width: 100%;">
                    <div id="container-inst4ceres" class="row table-row" style="width: 100%; position: relative;">
                        <a href="javascript:void(0)" class="closenav" onclick="closeModal()">&times;</a>

                        <div id="right-inst4ceres" class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 image-col" style="background: white; min-width: 260px; padding: 5px; height: 60%;">
                            <div id="componentOne" style="margin-top: 5px; margin-bottom: 5px; width: 100%;">
                                <div id="cont-inst4ceres01" style="width: 100%; float:left; height:12%; background:white;">
                                    <div id="cont-inst4ceres02" class="feed4ceres-box" style="width: 100%; float:left; height:100%; background:white;">
                                        <a id="a_imguserone" target="_blank" href="" style="text-decoration: none !important; color:#000;"><img id="imgsmall-inst4ceres" class="rounded-circle" style="vertical-align:middle; width: 64px;" src="{{ profilePicture }}" alt="{{ userName }}" style="width:100%; padding:5px;"></a>
                                        <span id="left-data-inst4ceres" style="width: 100%; margin-left: 4%;"><a id="a_nameuserone" target="_blank" href="" style="text-decoration: none !important; color:#000;"><b>{{ userName }}&nbsp;</b></a><br/><span id="span_locationName"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div id="imgInsta" style="display:none">
                                <a id="a_imgInstagram" target="_blank" href="" style="text-decoration: none !important; color:#000;">
                                    <img id="imgbig-inst4ceres" src="" class="img-fluid" style="padding: 5px;">
                                </a>
                            </div>
                            <div id="vidInsta" style="display:none">
                                    <video id="feed4ceres-videopar" class="video-js" controls preload="none" width="" height=""
                                           poster="" data-setup='{"fluid": true}'>
                                    </video>
                            </div>
                            <div id="carouInsta" style="display:none">
                                <div id="insta4ceresCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div id="insta4ceresCarouselItems" class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-100" src="" alt="First slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="" alt="Second slide">
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block w-100" src="" alt="Third slide">
                                        </div>
                                    </div>
                                    <a id="anccarfeed4prev" class="carousel-control-prev" href="#insta4ceresCarousel" role="button" data-slide="prev">
                                        <span id="spancarfeed4prev" class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a id="anccarfeed4next" class="carousel-control-next" href="#insta4ceresCarousel" role="button" data-slide="next">
                                        <span id="spancarfeed4next" class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="cont-inst4ceres03" div="left-inst4ceres" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 custom" style="background: white; min-width: 260px; padding: 5px; height: 40%;">
                            <div id="componentTwo" style="margin-top: 5px; margin-bottom: 5px; width: 100%;">
                                <div id="cont-inst4ceres04" style="width: 100%; float:left; height:35%; background:white;">
                                    <div id="cont-inst4ceres05" class="feed4ceres-box" style="width: 100%; float:left; height:100%; background:white;">
                                        <a id="a_imgusertwo" target="_blank" href="" style="text-decoration: none !important; color:#000;">
                                            <img id="imgrightsmall-inst4ceres" class="rounded-circle" style="vertical-align:middle; width: 64px;" src="{{ profilePicture }}" alt="{{ userName }}" style="width:100%; padding:5px;">
                                        </a>
                                        <span id="right-data-inst4ceres" style="width: 100%; margin-left: 4%; text-align: left;">
                                            <a id="a_nameusertwo" target="_blank" href="" style="text-decoration: none !important; color:#000;">
                                                <b>{{ userName }}&nbsp;</b>
                                            </a>
                                            <br/>
                                            <span id="span_locationName2"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div id="componentTwoL" style="width: 100%; float:left; height:5%; background:white; ">
                                <hr id="hrone" style="width: 100%;" />
                            </div>
                            <div id="cont-inst4ceres07" style="float:left; height:35%; min-height: 150px; background:white; width: 100%;">

                                <div id="cont-inst4ceres08" style="width: 100%; float:left; height:100%; background:white;">

                                    <p id="right-tags-inst4ceres" style="float: left;">
                                        <div id="div_instagramText">

                                        </div>
                                    </p>

                                </div>
                            </div>
                            <div id="cont-inst4ceres09" style="width: 100%; float:left; height:5%; background:white; ">
                            </div>

                            <div id="idcontainer-bottom" class="container" style="position: absolute; bottom: 3%; width: 100%; float:left; height:10%; padding: 0%;">
                                <div id="cont-inst4ceres10" class="feed4ceres-box" style="width: 40%; float:left; height:90%; background:white; text-align: left;">
                                    <span id="right-datalikes-inst4ceres"><i id="i_likesOne" class="material-icons feed4ceres-nav" style="vertical-align:middle; display: inline-flex;">favorite</i><span id="span_numberOfLikes" style="vertical-align: middle"></span></span>
                                </div>
                            </div>

                        </div>

                        <i id="i_prevPC2" class="ci_likesPC2 material-icons buttonnextprev feed4ceres-nav" onclick="previousMedia()">chevron_left</i>
                        <i id="i_nextPC3" class="ci_likesPC3 material-icons buttonnextprev feed4ceres-nav" onclick="nextMedia()">chevron_right</i>
                        <span id="span_brandlink"><a class="ca_brandlink" href="https://feed4ceres.de" target="_blank" style="text-decoration: none !important; color:#000;">F E E D 4 C E R E S</a></span>

                    </div>
                </div>


            </div>

        </div>

        <!--
        {{ pagenumber }}-{{ iniitem }}-{{ enditem }}-{{ numberMedia }}-{{ prevButton }}-{{ nextButton }}-{{ mainTitleText }}
        {{ submainTitleText }}-{{ MTR }}-{{ MTS }}-{{ FT }}
        -->

        <div style="text-align: center;">
            <h2>{{ mainTitleText }}</h2>
            <h3>{{ submainTitleText }}</h3>

        </div>

        <!-- Page Content 1.0.1-->
        <div id="Inst4CeresGrid" class="">

            <div class="row" style="margin: 0px;">

                {% set indx = 0 %}
                {% set indCarousel = 0 %}

                {% for item in currentItems %}

                    {% set typeMedia = currentItems[indx]['typeMedia'] %}

                    {% set StImageWidth = currentItems[indx]['imageWidth'] %}
                    {% set StImageHeight = currentItems[indx]['imageHeight'] %}

                    {% if typeMedia is sameas("video") %}
                        {%  set nameMediaVideo = currentItems[indx]['videoMedia'] %}
                        {%  set nameMedia = currentItems[indx]['imgMedia'] %}
                        {%  set videoW = currentItems[indx]['videoW'] %}
                        {%  set videoH = currentItems[indx]['videoH'] %}
                        {%  set stylevideo = 'block' %}
                        {%  set styleimage = 'none' %}
                        {%  set stylecarou = 'none' %}
                    {% else %}
                        {% if typeMedia is sameas("image") %}
                            {%  set nameMedia =  currentItems[indx]['imgMedia'] %}
                            {%  set nameMediaVideo = '' %}
                            {%  set videoW = '' %}
                            {%  set videoH = '' %}
                            {%  set stylevideo = 'none' %}
                            {%  set styleimage = 'block' %}
                            {%  set stylecarou = 'none' %}
                        {% else %}
                            {% if typeMedia is sameas("carousel") %}
                                {%  set nameMedia =  currentItems[indx]['imgMedia'] %}
                                {%  set nameMediaVideo = '' %}
                                {%  set videoW = '' %}
                                {%  set videoH = '' %}
                                {%  set stylevideo = 'none' %}
                                {%  set styleimage = 'none' %}
                                {%  set stylecarou = 'block' %}
                                {%  set carIni = currentItems[indx]['carInitial'] %}
                                {%  set carEnd = currentItems[indx]['carFinal'] %}
                            {% else %}
                                {%  set nameMedia = '' %}
                                {%  set nameMediaVideo = '' %}
                                {%  set videoW = '' %}
                                {%  set videoH = '' %}
                                {%  set stylevideo = 'none' %}
                                {%  set styleimage = 'none' %}
                                {%  set stylecarou = 'none' %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {%  if (StImageWidth|int > StImageHeight|int) %}
                        {%     set StLandScape = true %}
                    {% else %}
                        {%     set StLandScape = false %}
                    {% endif %}

                    {% if typeMedia is sameas("carousel") %}
                        {% set indIni = carIni|int %}
                        {% set indEnd = carEnd|int %}

                        {% for idx in dataCarousel %}
                            {% if indCarousel >= indIni and indCarousel <= indEnd %}
                                <div id="datacarou-{{ indx }}-{{ indCarousel }}-{{ carIni }}-{{ carEnd }}" style="display:none;" data-refimg="{{ dataCarousel[indCarousel]['imgcarou'] }}">
                                </div>
                                {% set indCarousel = indCarousel + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                    <div id="data-{{ indx }}" data-styledisplaycarou="{{ stylecarou }}" data-styledisplayvideo="{{ stylevideo }}" data-styledisplayimg="{{ styleimage }}" data-typem="{{ currentItems[indx]['typeMedia'] }}" data-vidstd="{{ nameMediaVideo }}" data-videow="{{ videoW }}" data-videoh="{{ videoH }}" data-locname="{{ currentItems[indx]['locationName'] }}" data-imgstd="{{ nameMedia }}" data-txtresume="{{ currentItems[indx]['textPostResume'] }}" data-nolikes="{{ currentItems[indx]['countLikes'] }}" data-linkinsta="{{ currentItems[indx]['linkInstagram'] }}" data-username="{{ dataUser[0]['userName'] }}" data-txtpost="{{ currentItems[indx]['textPost'] }}" data-carInitial="{{ currentItems[indx]['carInitial'] }}" data-carFinal="{{ currentItems[indx]['carFinal'] }}"
                         style="display:none;">
                    </div>

                    <div class="col-{{ numcolxs }} col-sm-{{ numcolsm }} col-md-{{ numcolmd }} col-lg-{{ numcollg }} col-xl-{{ numcolxl }} feed4ceres-outer" onclick="loadDataAndOpenModal({{ indx }})">
                        <div id="div_contmain" class="insta-image widget widget-image-box widget-proportional" style="padding-bottom: 100% !important; margin-bottom: 0; min-height: auto;">
                            <img id="idmainimg" class="img-cover img-border" src="{{ nameMedia }}" alt="{{ userName }}"/>
                            <div id="idoverlay" class="feed4ceres-overlay"><i id="i_likesTwo" class="material-icons feed4ceres-nav" style="font-size: 1.1em;">favorite</i>{{ item['countLikes'] }}</div>
                            {% if typeMedia is sameas("video") %}
                                <div id="idovervideo" class="feed4ceres-overvideo"><i id="i_likesTwo" class="material-icons feed4ceres-nav" style="font-size: 28px;">videocam</i></div>
                            {% endif %}
                            {% if typeMedia is sameas("carousel") %}
                                <div id="idovervideo" class="feed4ceres-overvideo"><i id="i_likesTwo" class="material-icons feed4ceres-nav" style="font-size: 28px;">photo_library</i></div>
                            {% endif %}
                        </div>
                    </div>


                    {% set indx = indx + 1 %}

                {% endfor %}

            </div>

        </div>


        <div class="divmorebutton">
            <button type="button" class="{{ styleMoreButtonText }}" onclick="loadMoreContent('more')" style="{{ moreButton }}">{{ moreButtonLabelText }}</button>
        </div>

    </div>

    {% block head %}

        <!-- CSS -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- VideoJS -->
        <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">

    {% endblock %}

    {% block anotherScript %}

        <script>

            // Load variables and prepare PlugIn call to load more media from Instagram (In USE)
            function loadMoreContent(command){
                if(command == 'more') {

                    let mtitle=encodeURIComponent('{{ mainTitleText }}');
                    let sm=encodeURIComponent('{{ submainTitleText }}');
                    let mtr='{{ MTR }}';
                    let mts='{{ MTS }}';
                    let ftg=encodeURIComponent('{{ FT }}');

                    //let urlAddr = './feed4ceres?pagenumber={{ pagenumber }}&command=m&mt='+mtitle+'&sm='+sm+'&mtr='+mtr+'&mts='+mts+'&ftg='+ftg+'&type=PlugIn';

                    let urlAddr = './feed4ceres';

                    let pagenum = '{{ pagenumber }}';
                    let comm = 'm';
                    let type = 'PlugIn';
                    let incode = 'sekret'

                    //console.log('urlAddr PI: '+urlAddr);

                    //var urlAddr = "./feed4ceres?pagenumber={{ pagenumber }}&command=m&mt={{ mainTitleText }}&sm={{ submainTitleText }}&mtr={{ MTR }}&mts={{ MTS }}&ftg={{ FT }}";

                    //$('#Feed4CeresWidget').load(urlAddr);

                    $('#Feed4CeresWidget').load(urlAddr, {'pagenumber':pagenum, 'command':comm, 'mt':mtitle, 'sm':sm, 'mtr':mtr, 'mts':mts, 'ftg':ftg, 'type':type, 'hidden':incode});

                }
            }

        </script>

        <!-- VideoJS -->
        <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>

    {% endblock %}


{% else %}
    <html>
        <head>
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="refresh" content="0;URL='./'" />
        </head>
        <body></body>
    </html>
{% endif %}


