{% import "Feed4Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set numberOfColumnsXSSizeText = config("Feed4Ceres.numberOfColumnsXSSize.text") %}
{% set numberOfColumnsSMSizeText = config("Feed4Ceres.numberOfColumnsSMSize.text") %}
{% set numberOfColumnsMDSizeText = config("Feed4Ceres.numberOfColumnsMDSize.text") %}
{% set numberOfColumnsLGSizeText = config("Feed4Ceres.numberOfColumnsLGSize.text") %}
{% set numberOfColumnsXLSizeText = config("Feed4Ceres.numberOfColumnsXLSize.text") %}

{% set numcolxs = (12 / numberOfColumnsXSSizeText|int)|int %}
{% set numcolsm = (12 / numberOfColumnsSMSizeText|int)|int %}
{% set numcolmd = (12 / numberOfColumnsMDSizeText|int)|int %}
{% set numcollg = (12 / numberOfColumnsLGSizeText|int)|int %}
{% set numcolxl = (12 / numberOfColumnsXLSizeText|int)|int %}

{% set mainTitleText = widget.settings.mainTitle.mobile %}

{% set submainTitleText = widget.settings.subMainTitle.mobile %}

{% set mediaToRecoverText = widget.settings.mediaToRecover.mobile %}
{% set mediaToShowOnText = widget.settings.mediaToShowOn.mobile %}
{% set FilterTAGSText = widget.settings.FilterTAGS.mobile %}

{% set pagenumber = dataUser[0]['pagenumber'] %}

<div id="Feed4CeresWidget" class="widget">

    <!-- The Modal -->
    <div id="ModalInst4Ceres" class="modalinst4ceres" style="overflow: scroll;">

        <!-- Modal content -->
        <div class="modal-contentFeed4Ceres">


            <span class="closeinst4ceres"></span>

            <div id="containermod" class="container" style="width: 100%;">
                <div id="container-inst4ceres" class="row table-row" style="width: 100%; position: relative;">
                    <a href="javascript:void(0)" class="closenav" onclick="closeModal()">&times;</a>

                    <div id="right-inst4ceres" class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 image-col" style="background: white; min-width: 260px; padding: 5px; height: 60%;">
                        <div id="componentOne" style="margin-top: 5px; margin-bottom: 5px; width: 100%;">
                            <div id="cont-inst4ceres01" style="width: 100%; float:left; height:12%; background:white;">
                                <div id="cont-inst4ceres02" class="feed4ceres-box" style="width: 100%; float:left; height:100%; background:white;">
                                    <a id="a_imguserone" target="_blank" href="" style="text-decoration: none !important; color:#000;"><img id="imgsmall-inst4ceres" class="rounded-circle" style="vertical-align:middle; width: 64px;" src="{{ profilePicture }}" alt="{{ userName }}" style="width:100%; padding:5px;"></a>
                                    <span id="left-data-inst4ceres" style="width: 100%; margin-left: 4%;"><a id="a_nameuserone" target="_blank" href="" style="text-decoration: none !important; color:#000;"><b>{{ userName }}&nbsp;</b></a><br/><span id="span_locationName"></span></span>
                                </div>
                            </div>
                        </div>
                        <div id="imgInsta" style="display:none">
                            <a id="a_imgInstagram" target="_blank" href="" style="text-decoration: none !important; color:#000;">
                                <img id="imgbig-inst4ceres" src="" class="img-fluid" style="padding: 5px;">
                            </a>
                        </div>
                        <div id="vidInsta" style="display:none">
                            <video id="feed4ceres-videopar" class="video-js" controls preload="none" width="" height=""
                                   poster="" data-setup='{"fluid": true}'>
                                <source id="feed4ceres-videosrc" src="" type='video/mp4'>
                            </video>
                        </div>
                    </div>
                    <div id="cont-inst4ceres03" div="left-inst4ceres" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 custom" style="background: white; min-width: 260px; padding: 5px; height: 40%;">
                        <div id="componentTwo" style="margin-top: 5px; margin-bottom: 5px; width: 100%;">
                            <div id="cont-inst4ceres04" style="width: 100%; float:left; height:35%; background:white;">
                                <div id="cont-inst4ceres05" class="feed4ceres-box" style="width: 100%; float:left; height:100%; background:white;">
                                    <a id="a_imgusertwo" target="_blank" href="" style="text-decoration: none !important; color:#000;"><img id="imgrightsmall-inst4ceres" class="rounded-circle" style="vertical-align:middle; width: 64px;" src="{{ profilePicture }}" alt="{{ userName }}" style="width:100%; padding:5px;"></a>
                                    <span id="right-data-inst4ceres" style="width: 100%; margin-left: 4%; text-align: left;"><a id="a_nameusertwo" target="_blank" href="" style="text-decoration: none !important; color:#000;"><b>{{ userName }}&nbsp;</b></a><br/><span id="span_locationName2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div id="componentTwoL" style="width: 100%; float:left; height:5%; background:white; ">
                            <hr id="hrone" style="width: 100%;" />
                        </div>
                        <div id="cont-inst4ceres07" style="float:left; height:35%; min-height: 150px; background:white; width: 100%;">

                            <div id="cont-inst4ceres08" style="width: 100%; float:left; height:100%; background:white;">

                                <p id="right-tags-inst4ceres" style="float: left;"><div id="div_instagramText"></div></p>

                            </div>
                        </div>
                        <div id="cont-inst4ceres09" style="width: 100%; float:left; height:5%; background:white; ">
                        </div>

                        <div id="idcontainer-bottom" class="container" style="position: absolute; bottom: 3%; width: 100%; float:left; height:10%; padding: 0%;">
                            <div id="cont-inst4ceres10" class="feed4ceres-box" style="width: 40%; float:left; height:90%; background:white; text-align: left;">
                                <span id="right-datalikes-inst4ceres"><i id="i_likesOne" class="material-icons feed4ceres-nav" style="vertical-align:middle; display: inline-flex;">favorite</i><span id="span_numberOfLikes" style="vertical-align: middle"></span></span>
                            </div>
                        </div>

                    </div>

                    <i id="i_prevPC2" class="ci_likesPC2 material-icons buttonnextprev feed4ceres-nav" onclick="previousMedia()">chevron_left</i>
                    <i id="i_nextPC3" class="ci_likesPC3 material-icons buttonnextprev feed4ceres-nav" onclick="nextMedia()">chevron_right</i>
                    <span id="span_brandlink"><a class="ca_brandlink" href="https://feed4ceres.de" target="_blank" style="text-decoration: none !important; color:#000;">F E E D 4 C E R E S</a></span>

                </div>
            </div>


        </div>

    </div>



    <div style="text-align: center;">
        <h2>{{ mainTitleText }}</h2>
        <h3>{{ submainTitleText }}</h3>
        {% if isPreview %}
            <div class="placeholder-text">
                {{ trans("Feed4Ceres Widget") }}
            </div>
        {% endif %}
    </div>

    <!-- Page Content -->
    <div id="Inst4CeresGrid" class="">

        <div class="row-boot multi-grid" style="margin: 0px;">

            {% set indx = 0 %}

            {% for item in currentItems %}

                {% set typeMedia = currentItems[indx]['typeMedia'] %}

                {% set StImageWidth = currentItems[indx]['imageWidth'] %}
                {% set StImageHeight = currentItems[indx]['imageHeight'] %}

                {% if typeMedia is sameas("video") %}
                    {%  set nameMediaVideo = currentItems[indx]['videoMedia'] %}
                    {%  set nameMedia = currentItems[indx]['imgMedia']%}
                {% else %}
                    {%  set nameMedia =  currentItems[indx]['imgMedia']%}
                {% endif %}

                {%  if (StImageWidth|int > StImageHeight|int) %}
                    {%     set StLandScape = true %}
                {% else %}
                    {%     set StLandScape = false %}
                {% endif %}


                <div id="data-{{ indx }}" data-locname="{{ currentItems[indx]['locationName'] }}" data-imgstd="{{ nameMedia }}" data-txtresume="{{ currentItems[indx]['textPostResume'] }}" data-nolikes="{{ currentItems[indx]['countLikes'] }}" data-linkinsta="{{ currentItems[indx]['linkInstagram'] }}" data-username="{{ dataUser[0]['userName'] }}" data-txtpost="{{ currentItems[indx]['textPost'] }}"
                     style="display:none;">
                </div>

                <div class="clm-{{ numcolxs }} clm-sm-{{ numcolsm }} clm-md-{{ numcolmd }} clm-lg-{{ numcollg }} clm-xl-{{ numcolxl }} outer" onclick="loadDataAndOpenModal({{ indx }})">
                    <div id="div_contmain" class="insta-image widget-image-box widget-proportional">
                        <img id="idmainimg" class="img-cover img-border" src="{{ nameMedia }}" alt="{{ userName }}"/>
                        <div id="idoverlay" class="overlay"><i id="i_likesTwo" class="material-icons " style="font-size: 1.1em;">favorite</i>{{ item['countLikes'] }}</div>
                    </div>
                </div>


                {% set indx = indx + 1 %}

            {% endfor %}

        </div>

    </div>


    {% if(not isPreview) %}

        <div class="loader divmorebutton" title="4" align="center">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                <rect x="0" y="0" width="4" height="10" fill="#333" transform="translate(0 7.61587)">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatCount="indefinite"></animateTransform>
                </rect>
                <rect x="10" y="0" width="4" height="10" fill="#333" transform="translate(0 5.71747)">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animateTransform>
                </rect>
                <rect x="20" y="0" width="4" height="10" fill="#333" transform="translate(0 19.0508)">
                    <animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animateTransform>
                </rect>
            </svg>
        </div>

        <div id="data-preview" data-value="Pix">
        </div>

    {% else %}

        <div id="data-preview" data-value="Punkt">
        </div>

    {% endif %}

</div>

{% block head %}

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


{% endblock %}

{% block AdditionalScripts %}

    <script>

        function feed4Ceres_hidenext(){
            var elenext = document.getElementById("i_nextPC3");
            //console.log("next-hidden on function");
            //console.log("vis value on f: "+elenext.style.visibility+", changing... to hidden");
            elenext.style.visibility="hidden";
            $(".i_nextPC3").css("visibility", "hidden");
            //console.log("vis value after hidden on f: "+elenext.style.visibility);
        }

        function feed4Ceres_hideprev(){
            var eleprev = document.getElementById("i_prevPC2");
            //console.log("prev-hidden on f");
            //console.log("vis value on f: "+eleprev.style.visibility+", changing... to hidden");
            eleprev.style.visibility="hidden";
            $(".i_nextPC2").css("visibility", "hidden");
            //console.log("vis value after hidden on f: "+eleprev.style.visibility);
        }

        function loadMoreContentWidget(command){
            if(command == 'more') {

                let mtitle=encodeURIComponent('{{ mainTitleText }}');
                let sm=encodeURIComponent('{{ submainTitleText }}');
                let mtr='{{ mediaToRecoverText }}';
                let mts='{{ mediaToShowOnText }}';
                let ftg=encodeURIComponent('{{ FilterTAGSText }}');

                //var urlAddr = './feed4ceres?pagenumber={{ pagenumber }}&command=m&mt='+mtitle+'&sm='+sm+'&mtr='+mtr+'&mts='+mts+'&ftg='+ftg+'&type=widget';

                let urlAddr = './feed4ceres';

                //console.log('mtitle: '+mtitle);
                //console.log('sm: '+sm);

                //console.log('url Widget: '+urlAddr);

                //str1=$('#t1').val();
                //str2=$('#t2').val();

                let pagenum = '{{ pagenumber }}';
                let comm = 'm';
                let type = 'Widget';
                let incode = 'sekret'

                //$("#d2").load("load-text2.php", {'t1':str1,'t2':str2});

                $('#Feed4CeresWidget').load(urlAddr, {'pagenumber':pagenum, 'command':comm, 'mt':mtitle, 'sm':sm, 'mtr':mtr, 'mts':mts, 'ftg':ftg, 'type':type, 'hidden':incode});
            }
        }


        (function jqIsReady() {
            if (typeof $ === "undefined"){
                setTimeout(jqIsReady,10);
                return ;
            }
            //console.log("jqIsReady");
            var ftime, datav;
            ftime = document.getElementById('data-preview');
            if(ftime != null) {
                datav = ftime.getAttribute('data-value');
                if (datav == 'Pix') {
                    setTimeout(function () {
                        loadMoreContentWidget("more");
                    }, 1500);
                }
            }
        })();

    </script>

{% endblock %}
